<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>添加用户</span>
                </div>
                <div class="box-icons">
                    <a class="close-link" data-dismiss="modal" aria-hidden="true">
                        x
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form id="userAddForm" method="post"  class="form-horizontal">
                    <fieldset>
                        <legend>添加用户</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户名:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="userName" name="userName" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户类型:</label>
                            <div class="col-sm-5">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="userType" value="1" checked> 普通用户
                                        <i class="fa fa-circle-o small"></i>
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="userType" value="2"> 管理员
                                        <i class="fa fa-circle-o small"></i>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">密码:</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" name="password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">密码确认:</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" name="confirmPassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否启用:</label>
                            <div class="col-sm-5">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="state" value="1" checked> 是
                                        <i class="fa fa-circle-o small"></i>
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="state" value="0"> 否
                                        <i class="fa fa-circle-o small"></i>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">描述:</label>
                            <div class="col-sm-5">
                                <textarea class="form-control" rows="5" id="remark" name="remark"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group pull-right form-inline">
                            <div class="col-sm-12">
                                <button type="cancel" class="btn btn-default" data-dismiss="modal">
                                    关闭
                                </button>
                                &nbsp;&nbsp;&nbsp;

                                <button id="userSubmit" type="button" class="btn btn-primary">提交</button>

                            </div>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="plugins/jquery/jquery.md5.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var userVlidator = $('#userAddForm').bootstrapValidator({
            message: '校验不合法',
            fields: {
                "userName": {
                    message: '用户名不合法',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 4,
                            max: 32,
                            message: '用户名长度在4-32个字符'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: '用户名由字母，数字，逗号，下划线组成'
                        },
                        remote: {
                            url: 'userInfo/userIsExist',
                            message: '用户名已经存在',
                            delay:1000
                        }
                    }
                },
                "password": {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 32,
                            message: '密码长度必须在6到32位'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: '用户名由字母，数字，逗号，下划线组成'
                        }
                    }
                },
                "confirmPassword": {
                    validators: {
                        notEmpty: {
                            message: '请确认密码'
                        },
                        identical: {
                            field: 'password',
                            message: '两次密码不一样'
                        }
                    }
                },
                "userType": {
                    required: "请选择用户类型"
                },
                "state": {
                    required: "请选择是否启用"
                }
            }
        });

        $("#userSubmit").click(function(){
            var bootstrapValidator = $("#userAddForm").data('bootstrapValidator');
            bootstrapValidator.validate();
            if(bootstrapValidator.isValid()){
                var paramArr = $("#userAddForm").serializeArray();
                for(var i in paramArr){
                    var paramName = paramArr[i].name;
                    var paramValue = paramArr[i].value;
                    if(paramName=='password' || paramName=='confirmPassword'){
                        paramArr[i].value = $.md5(paramValue);
                    }
                }
                var param = $.param(paramArr);
                $("#userSubmit").attr("disabled", true);
                $.post("userInfo/userAdd",param,function(data){
                    if(data.success){
                        successAlert("添加成功")
                        $("#addModal").modal("hide");
                        LoadAjaxContent("userInfo/userList");
                    }else if(data.errorCode == 1){
                        errorAlert("用户名已经存在")
                        $("#userSubmit").attr("disabled", false);
                        return false;
                    }else{
                        errorAlert(data.msg);
                        $("#userSubmit").attr("disabled", false);
                    }
                },"json");

            }else{
                return false;
            }
        })
    })

</script>