<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">
            <li><a href="#">系统管理</a></li>
            <li><a href="#">权限配置</a></li>
        </ol>

    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>权限配置</span>
                </div>

                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form id="userPermissionForm" method="post"  class="form-horizontal">
                    <fieldset>
                        <div class="page-header">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户：</label>
                                <div class="col-sm-5">
                                    <select class="populate placeholder" id="userSelect" name="userId">
                                        <option value="">请选择用户</option>
                                        <option  th:each="user:${userInfos}" th:value="${user.userId}" th:text="${user.userName}" th:selected="${user.userId}==${userId}"></option>
                                    </select>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button id="userSubmit" type="button" class="btn btn-primary">保存</button>
                                </div>
                                <div class="col-sm-3">

                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">功能权限</label>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        系统管理
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox" name="permission" value="sys:userManage" th:checked="${#sets.contains(permissionSet,'sys:userManage')}">用户管理
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox" name="permission" value="sys:permissionConf" th:checked="${#sets.contains(permissionSet,'sys:permissionConf')}">权限配置
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        渠道管理
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox" name="permission" value="channel:channelConf"  th:checked="${#sets.contains(permissionSet,'channel:channelConf')}">渠道配置
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        贷款管理
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox"  name="permission" value="loan:loanType"  th:checked="${#sets.contains(permissionSet,'loan:loanType')}">贷款类型
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox"  name="permission" value="loan:loanProduct"  th:checked="${#sets.contains(permissionSet,'loan:loanProduct')}">贷款产品
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox" name="permission" value="loan:loanAd"  th:checked="${#sets.contains(permissionSet,'loan:loanAd')}" >贷款广告
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox"  name="permission" value="loan:loanOther"   th:checked="${#sets.contains(permissionSet,'loan:loanOther')}">其他配置
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        信用卡管理
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox" name="permission" value="credit:creditBank"  th:checked="${#sets.contains(permissionSet,'credit:creditBank')}">信用卡银行
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox" name="permission" value="credit:creditType"  th:checked="${#sets.contains(permissionSet,'credit:creditType')}">信用卡类型
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox" name="permission" value="credit:creditProduct"  th:checked="${#sets.contains(permissionSet,'credit:creditProduct')}">信用卡产品
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox" name="permission" value="credit:creditAd"  th:checked="${#sets.contains(permissionSet,'credit:creditAd')}">信用卡广告
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox"  name="permission" value="credit:creditOther"  th:checked="${#sets.contains(permissionSet,'credit:creditOther')}">其他配置
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        信息统计
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox" name="permission" value="stat:loanUv"  th:checked="${#sets.contains(permissionSet,'stat:loanUv')}" >贷款UV统计
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox" name="permission" value="stat:creditUv"  th:checked="${#sets.contains(permissionSet,'stat:creditUv')}" >信用卡UV统计
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        其他配置
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox" name="permission" value="conf:changeShow"  th:checked="${#sets.contains(permissionSet,'conf:changeShow')}" >下发管理
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label style="margin-left: 40px">
                                        <input type="checkbox" name="permission" value="conf:rnUpdate"  th:checked="${#sets.contains(permissionSet,'conf:rnUpdate')}" >升级配置
                                        <i class="fa fa-square-o small" style="margin-left: 40px"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label style="margin-left: 80px">

                                </label>
                            </div>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function(){
        $('#userSelect').change(function(){
            var param = $("#userPermissionForm").serialize();
            LoadAjaxContent("/userInfo/userPermission",param);
        });
        $('#userSubmit').click(function () {
            var userId = $('#userSelect').children('option:selected').val();
            if(userId == ''){
                warningAlert('请选择用户');
                return;
            }

            var param = $("#userPermissionForm").serialize();
            $.post("userInfo/addPermission",param,function(data){
                if(data.success){
                    successAlert("保存成功");
                    LoadAjaxContent("userInfo/userPermission",param);
                }else{
                    errorAlert(data.msg);
                }
            },"json");

        })
    })
</script>
</html>
