<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<form id="addForm" name="addForm" method="post"  class="form-horizontal">
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>添加</span>
                </div>
                <div class="box-icons">
                    <a class="close-link" data-dismiss="modal" aria-hidden="true">
                        x
                    </a>
                </div>
                <div class="no-move"></div>
            </div>

            <div class="box-content">
                    <fieldset>
                        <legend>添加</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">更新简述:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="desc" name="desc" placeholder="描述信息 方便识别"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">版本:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  name="version" placeholder="当前更新版本"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">umeng:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="umeng" name="umeng" placeholder="umeng key"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">市场渠道:</label>
                            <div class="col-sm-6" >
                                <select class="populate placeholder" id="marketSelect" name="marketId">
                                    <option value="">请选择</option>
                                    <option  th:each="market:${markets}" th:value="${market.key}" th:text="${market.value}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">更新描述:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="updateDesc" placeholder="更新描述"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">更新下载文件:</label>
                            <div class="col-sm-6">
                                <input type="hidden" class="form-control" id="updateFile" name="updateFile" />
                                <p><input type="file" class="form-control" id="file" name="file" /></p>
                                <input type="button" id="upload" value="上传" onclick="ajaxFileUpload()" />
                                <p><a href="#" id="fileShow"></a></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group pull-right form-inline">
                            <div class="col-sm-12">
                                <button type="cancel" class="btn btn-default" data-dismiss="modal">
                                    关闭
                                </button>
                                &nbsp;&nbsp;&nbsp;
                                <button id="formSubmit" type="button" class="btn btn-primary">保存</button>

                            </div>

                        </div>
                    </fieldset>
            </div>

        </div>
    </div>
</div>
</form>
<script src="plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="js/ajaxfileupload.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var addVlidator = $('#addForm').bootstrapValidator({
            excluded:[":disabled"],//关键配置，表示只对于禁用域不进行验证，其他的表单元素都要验证
            message: '校验不合法',
            fields: {
                "desc": {
                    validators: {
                        notEmpty: {
                            message: '描述信息不能为空'
                        },
                        stringLength: {
                            min: 1,
                            max: 255,
                            message: '描述信息长度在1-255个字符'
                        }
                    }
                },
                "version": {
                    validators: {
                        notEmpty: {
                            message: '版本不能为空'
                        },
                        stringLength: {
                            min: 1,
                            max: 255,
                            message: '版本长度在1-255个字符'
                        }
                    }
                },
                "umeng": {
                    validators: {
                        notEmpty: {
                            message: 'umeng不能为空'
                        },
                        stringLength: {
                            min: 1,
                            max: 255,
                            message: 'umeng长度在1-255个字符'
                        }
                    }
                }
            }
        });

        $("#formSubmit").click(function(){
            var bootstrapValidator = $("#addForm").data('bootstrapValidator');
            bootstrapValidator.validate();
            if(bootstrapValidator.isValid()){
                $("#formSubmit").attr("disabled", true);
                var param = $("#addForm").serialize();
                $.post("cfg/rnUpdateAdd",param,function(data){
                    if(data.success){
                        successAlert("添加成功")
                        $("#addModal").modal("hide");
                        LoadAjaxContent("cfg/rnUpdateList");
                    }else{
                        errorAlert(data.msg);
                        $("#formSubmit").attr("disabled", false);
                        return false;
                    }
                },"json");


            }else{
                return false;
            }
        })
    })

    function ajaxFileUpload(){
        var f = $("#file").val();
        if(f==null||f==""){
            warningAlert("请选择文件");
            return false;
        }else{
            var extname = f.substring(f.lastIndexOf(".")+1,f.length);
            extname = extname.toLowerCase();//处理了大小写
        }
        var file = document.getElementById("file").files;
        var size = file[0].size;
//        if(size>2097152){
//            warningAlert("错误提示:所选择的图片太大，图片大小最多支持2M!");
//            return false;
//        }
        $.ajaxFileUpload
        (
            {
                url: 'cfg/uploadRnUpdateFile', //用于文件上传的服务器端请求地址
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: 'file', //文件上传域的ID
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data, status){     //服务器成功响应处理函数
                    if(data.success){
                        $("#updateFile").val(data.filePath);
                        $("#fileShow").attr("href", data.filePath);
                        $("#fileShow").text(data.filePath);
                    }else {
                        warningAlert(data.msg);
                    }

                },
                error: function (data, status, e){//服务器响应失败处理函数
                    warningAlert(e);
                }
            }
        )
        return false;
    }

</script>