<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<form id="addForm" name="addForm" method="post"  class="form-horizontal">
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>编辑银行</span>
                </div>
                <div class="box-icons">
                    <a class="close-link" data-dismiss="modal" aria-hidden="true">
                        x
                    </a>
                </div>
                <div class="no-move"></div>
            </div>

            <div class="box-content">
                    <fieldset>
                        <legend>编辑银行</legend>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">银行名称:</label>
                            <div class="col-sm-6">
                                <input type="hidden" name="bankId" th:value="${bank.bankId}"/>
                                <input type="text" class="form-control" name="bankName" th:value="${bank.bankName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">银行描述:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="bankDesc"  th:value="${bank.bankDesc}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">银行LOGO:</label>
                            <div class="col-sm-6">
                                <input type="hidden" class="form-control" id="img" name="bankLogo" th:value="${bank.bankLogo}" />
                                <p><input type="file" class="form-control" id="file" name="file" /></p>
                                <input type="button" id="upload" value="上传" onclick="ajaxFileUpload()" />
                                <p><img id="imgshow" alt="" th:src="${bank.bankLogo}" width="100px" height="100px"/></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否合作:</label>
                            <div class="col-sm-6 form-inline" >
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="isJoin" value="1" th:checked="${bank.isJoin}==1"> 是
                                        <i class="fa fa-circle-o small"></i>
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="isJoin" value="0" th:checked="${bank.isJoin}==0"> 否
                                        <i class="fa fa-circle-o small"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">优先级:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="priority"  th:value="${bank.priority}" placeholder="必须为数字 数值越大，优先级越高" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group pull-right form-inline">
                            <div class="col-sm-12">
                                <button type="cancel" class="btn btn-default" data-dismiss="modal">
                                    关闭
                                </button>
                                &nbsp;&nbsp;&nbsp;
                                <button id="formSubmit" type="button" class="btn btn-primary">保存</button>

                            </div>

                        </div>
                    </fieldset>
            </div>

        </div>
    </div>
</div>
</form>
<script src="plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script src="js/ajaxfileupload.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var addVlidator = $('#addForm').bootstrapValidator({
            excluded:[":disabled"],//关键配置，表示只对于禁用域不进行验证，其他的表单元素都要验证
            message: '校验不合法',
            fields: {
                "bankName": {
                    validators:{
                        notEmpty: {message: '银行名称不能为空'},
                        stringLength: {
                            min: 1,
                            max: 255,
                            message: '银行名称长度在1-255字符'
                        }
                    }
                },
                "bankDesc": {
                    validators:{
                        notEmpty: {message: '银行描述不能为空'},
                        stringLength: {
                            min: 1,
                            max: 1024,
                            message: '银行名称长度在1-1024字符'
                        }
                    }
                },
                "bankLogo": {
                    validators:{
                        notEmpty: {message: '请上传银行LOGO'},
                        stringLength: {
                            min: 1,
                            max: 255,
                            message: '上传图片名称长度在1-255个字符'
                        }
                    }
                },
                "isJoin": {
                    validators:{
                        notEmpty: {message: '请选择是否合作'}
                    }
                },
                "priority": {
                    validators:{
                        notEmpty: {message: '请填写优先级'}
                    },
                    regexp: {
                        regexp: /^[1-9]\d*$/,
                        message: '优先级必须为数字'
                    },
                    callback: {
                        message: '优先级在0到1000000000之间',
                        callback:function(value, validator,$field){
                            return value>=0&&value<=1000000000;
                        }
                    }
                }
            }
        });

        $("#formSubmit").click(function(){
            var bootstrapValidator = $("#addForm").data('bootstrapValidator');
            bootstrapValidator.enableFieldValidators("bankLogo",false);
            bootstrapValidator.enableFieldValidators("bankLogo",true);
            bootstrapValidator.validate();
            if(bootstrapValidator.isValid()){
                $("#formSubmit").attr("disabled", true);
                var param = $("#addForm").serialize();
                $.post("credit/creditBankEdit",param,function(data){
                    if(data.success){
                        successAlert("添加成功")
                        $("#addModal").modal("hide");
                        LoadAjaxContent("credit/creditBankList");
                    }else{
                        errorAlert(data.msg);
                        $("#formSubmit").attr("disabled", false);
                        return false;
                    }
                },"json");


            }else{
                return false;
            }
        })
    })

    function ajaxFileUpload(){
        var f = $("#file").val();
        if(f==null||f==""){
            warningAlert("请选择图片");
            return false;
        }else{
            var extname = f.substring(f.lastIndexOf(".")+1,f.length);
            extname = extname.toLowerCase();//处理了大小写
            if(extname!= "jpeg"&&extname!= "jpg"&&extname!= "gif"&&extname!= "png"){
                warningAlert("错误提示:格式不正确,支持的图片格式为：JPEG、GIF、PNG！");
                return false;
            }
        }
        var file = document.getElementById("file").files;
        var size = file[0].size;
        if(size>2097152){
            warningAlert("错误提示:所选择的图片太大，图片大小最多支持2M!");
            return false;
        }
        $.ajaxFileUpload({
            url: 'credit/uploadCreditBankImg', //用于文件上传的服务器端请求地址
            secureuri: false, //是否需要安全协议，一般设置为false
            fileElementId: 'file', //文件上传域的ID
            dataType: 'json', //返回值类型 一般设置为json
            success: function (data, status){     //服务器成功响应处理函数
                if(data.success){
                    $("#img").val(data.imgPath);
                    $("#imgshow").attr("src", data.imgPath);
                    var bootstrapValidator = $("#addForm").data('bootstrapValidator');
                    bootstrapValidator.updateStatus('bankLogo', 'NOT_VALIDATED').validateField('bankLogo');

                }else {
                    warningAlert(data.msg);
                }

            },
            error: function (data, status, e){//服务器响应失败处理函数
                warningAlert(e);
            }
        })
        return false;
    }

</script>